:root {
  --light-color: #f9f9f9;
  --black-color: #000000;
  --purple-color: #70f;
  --purple3-color: rgb(110, 70, 220);
  --blue-color: rgb(20, 119, 255);
  --b: rgb(243, 23, 151);
  --purple4-color: #60f;
  --hover-color: rgb(20, 119, 255);
  --light-purple-color: #9a76fe;
  --purple2: rgb(110, 70, 220);
  --g: rgb(20, 119, 255);
  --coral-color: rgb(240, 7, 85);
  --red-orange-color: rgb(230, 0, 35);
  --dark-color: #121212;
  --light-gray-color: #2d2d2d;
}
