.small-font {
  font-size: 12px;

  /* Smaller font */
}

.default-font {
  font-size: 16px;

  /* Standard/default font size */
}

.large-font {
  font-size: 20px;

  /* Larger font */
}

.code-font {
  font-family: 'Courier New', Courier, monospace;

  /* Monospace font */
  font-size: 15px;
}
