{{define "indexTempl"}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>csa-lab4</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
</head>

<body spellcheck="false">
  <header>{{template "headerTempl"}}</header>

  <div class="">
    <form hx-post="/api/simulate" hx-target="#result" hx-swap="innerHTML" hx-include="#src,#cfg" class="sim-form">

      <div class="field">
        <label for="src">code:</label>
        <textarea name="src" class="code-font input non-resize" id="src" placeholder="code here"
          spellcheck="false"></textarea>
      </div>

      <div class="field">
        <label for="cfg">config.yaml:</label>
        <textarea name="cfg" id="cfg" class="code-font input non-resize" placeholder="max_interruptions: 2"
          spellcheck="false"></textarea>
      </div>

      <div>
        <button type="submit" class="btn large-font">Simulate</button>
      </div>
    </form>
  </div>

  <h3>Result / logs</h3>
  <div id="result"></div>
</body>

</html>
{{end}}